---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=<steam_api_key>&steamid=76561198211387647
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-eresult:
      - '1'
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"game_count":111,"games":[{"appid":4000,"playtime_forever":754,"playtime_windows_forever":754,"playtime_mac_forever":0,"playtime_linux_forever":0},{"appid":7670,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0},{"appid":409710,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0},{"appid":220,"playtime_forever":18,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0},{"appid":320,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0},{"appid":340,"playtime_forev[...]
