---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v0001/?key=<steam_api_key>&steamid=76561198211387647
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"friendslist":{"friends":[{"steamid":"76561197983048007","relationship":"friend","friend_since":1467147301},{"steamid":"76561197990375749","relationship":"friend","friend_since":1532992347},{"steamid":"76561198006839749","relationship":"friend","friend_since":1533098993},{"steamid":"76561198010298871","relationship":"friend","friend_since":1546067327},{"steamid":"76561198011645174","relationship":"friend","friend_since":1588715949},{"steamid":"76561198017705925","relationship":"friend","friend_since":1481709126},{"steamid":"76561198025050799","relationship":"friend","friend_since":15085672[...]
