---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v0002/?appid=440&key=<steam_api_key>&steamid=76561198211387647
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"playerstats":{"steamID":"76561198211387647","gameName":"Team Fortress
        2","stats":[{"name":"Sniper.accum.iDamageDealt","value":546},{"name":"Sniper.accum.iKillAssists","value":2},{"name":"Sniper.accum.iPlayTime","value":376},{"name":"Sniper.accum.iPointsScored","value":1},{"name":"Sniper.max.iDamageDealt","value":496},{"name":"Sniper.max.iKillAssists","value":2},{"name":"Sniper.max.iPlayTime","value":84},{"name":"Sniper.max.iPointsScored","value":1},{"name":"TF_SNIPER_GET_BACKSTABBED_STAT","value":5},{"name":"pl_upward.accum.iPlayTime","value":376}]}}'
  recorded_at: Wed, 28 Apr 2021 02:58:22 GMT
recorded_with: VCR 6.0.0
